<div class="main-card-container my-3">
  <div class="card-likes-container">
    <div class="arrow-wrapper">
      <!-- upvote -->
      <button
        (click)="postService.votePost(ui.currentUserId!, post.id, 'true')"
      >
        <i class="pi pi-arrow-up"></i>
      </button>
      <span>{{ post.votes }}</span>
      <!-- downvote -->
      <button
        (click)="postService.votePost(ui.currentUserId!, post.id, 'false')"
      >
        <i class="pi pi-arrow-down"></i>
      </button>
    </div>
  </div>
  <div class="card-details-container">
    <!-- Posted By / Title -->
    <div class="card-main-info">
      <div class="username-wrapper">
        <span>u/</span><small>{{ post.user.username }}</small>
        <p>Posted: {{ post.postedDate }}</p>
        <!-- underline -->
        <span>b/</span>
        <h5>{{ post.community.name }}</h5>
      </div>
      <div class="title-wrapper">
        <h1>{{ post.title }}</h1>
      </div>
    </div>
    <!-- IMG/VID -->
    <p-carousel [value]="post.postImages" [numVisible]="1" [numScroll]="1">
      <ng-template pTemplate="item" let-image>
        <div class="mb-3 img-wrapper">
          <img
            src="{{ 'data:' + image.type + ';base64,' + image.picByte }}"
            alt="Post image"
            width="500"
            class="img-fluid postImg"
          />
        </div>
      </ng-template>
    </p-carousel>
    <div class="card-statistics" [innerHTML]="post.content"></div>
  </div>
</div>
<button (click)="test()">TEST</button>
