<div class="main-card-container">
  <!-- Posted By / Title -->
  <div class="card-main-info">
    <div class="username-wrapper"></div>
    <div class="title-wrapper">
      <h1>{{ post.title }}</h1>
    </div>
  </div>
  <!-- IMG/VID -->
  <ng-container>
    <p-carousel [value]="post.postImages" [numVisible]="1" [numScroll]="1">
      <ng-template pTemplate="item" let-image>
        <div class="mb-3">
          <img
            src="{{ 'data:' + image.type + ';base64,' + image.picByte }}"
            alt="newImg"
            height="250"
          />
        </div>
      </ng-template>
    </p-carousel>
  </ng-container>
  <!-- Comments -->
  <div class="card-statistics">
    # Likes:
    <p>{{ post.likes }}</p>
  </div>
</div>
<button (click)="test()">TEST</button>
