<div class="main-card-container my-3">
  <div class="card-likes-container">
    <div class="arrow-wrapper">
      <app-voting
        (voteClick)="onVote($event)"
        [numberVotes]="post.votes"
      ></app-voting>
    </div>
  </div>
  <div class="card-details-container">
    <!-- Posted By / Title -->
    <div class="card-main-info">
      <div class="username-wrapper">
        <span>u/</span><small>{{ post.user.username }}</small>
        <p>Posted: {{ postDuration(post.postedDate) }}</p>
        <!-- underline -->
        <h5>b/{{ post.community.name }}</h5>
      </div>
      <div class="title-wrapper">
        <h1>{{ post.title }}</h1>
      </div>
    </div>
    <!-- IMG/VID -->
    <p-carousel [value]="post.postImages" [numVisible]="1" [numScroll]="1">
      <ng-template pTemplate="item" let-image>
        <div class="mb-3 img-wrapper">
          <img
            src="{{ 'data:' + image.type + ';base64,' + image.picByte }}"
            alt="Post image"
            width="500"
            class="img-fluid postImg"
            (click)="postService.onPostSelection(post.id!)"
          />
        </div>
      </ng-template>
    </p-carousel>
    <div class="card-statistics" [innerHTML]="post.content"></div>
  </div>
</div>
