<app-navigation></app-navigation>
<ng-container *ngIf="communityService.selection$ | async as community">
    <app-community-page-header [community]="community"></app-community-page-header>
    <div class="post-info-container">
        <div class="post mx-3">
            <app-community-page-create-post></app-community-page-create-post>
            <ng-container *ngIf="communityService.communityPosts$ | async as posts">
                <div class="c-posts" *ngFor="let post of posts">
                    <app-community-post [communityPost]="post"></app-community-post>
                </div>
            </ng-container>
        </div>
        <app-community-about [community]="community"></app-community-about>
    </div>
</ng-container>