<app-navigation></app-navigation>
<ng-container *ngIf="communityService.selection$ | async as community">
    <div class="page-banner-container">
        <div class="top-wrapper"></div>
        <div class="bottom-wrapper">
            <div class="icon-name-container">
                <div class="logo-wrapper">
                    <!-- returning BE Image Object (id, name, type, picByte) -->
                    <img *ngIf="community.logo"
                        src="{{ 'data:' + community.logo.type + ';base64,' + community.logo.picByte }}"
                        alt="Post image"
                        width="500"
                        class="img-fluid com-img"
                    />
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" [maxFileSize]="1000000"
                    *ngIf="community.admin === ui.currentUserId"
                    [styleClass]="'uploadBtn'"
                    [chooseIcon]="'pi pi-plus'"
                    [customUpload]="true"
                    (onSelect)="onLogoUpload($event)"
                    (uploadHandler)="addNewLogo(community)"
                    ></p-fileUpload>

                </div>
                <div class="community-name-wrapper">
                    <h1>{{community.name}}</h1>
                    <small>b/{{community.name}}</small>
                </div>
            </div>
        </div>
    </div>
    <app-community-about></app-community-about>
    <button (click)="test(community)">TEST</button>
</ng-container>