<app-navigation></app-navigation>
<ng-container *ngIf="communityService.selection$ | async as community">
    <app-community-page-header [community]="community"></app-community-page-header>
    <ng-container *ngIf="communityService.communityPosts$ | async as posts">
        <div class="c-posts" *ngFor="let post of posts">
            <app-community-post [communityPost]="post"></app-community-post>
        </div>
    </ng-container>
    <app-community-about [community]="community"></app-community-about>
</ng-container>