:host ::ng-deep {
    .p-inputtextarea{
        background: transparent;
        color: #bbbbbb;
        border-radius: 25px;

    }.p-inputtextarea:hover{
        cursor: pointer;
    }
}
@mixin btn-background() {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.desciption-container {
    border: 1px solid #d4d4d4;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 10px ;
    width: fit-content;
    .add-description-wrapper {
        .description-ctrls{
        }#cancelDescription{
            @include btn-background();
            color:#c61c1c;
        }#saveDescription{
            @include btn-background();
            color: #d4d4d4;
        }
    }
    #create-post-btn {
        display: flex;
        justify-content: center;
    }
}