.ft-form {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 100%;
}


.switch-btn{
  background: none;
  border: none;
  color: rgb(83, 83, 83);
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.1rem;
  text-underline-offset: 2x;
  &:hover {
    color: rgb(15, 123, 185);
    text-decoration: solid 2px underline;
    text-underline-offset: 4px;
  }
}