<!-- NAVIGATION BAR for Logged In-->
<p-menubar [model]="navMenuItems">
  <ng-template pTemplate="start">
    <img
      src="https://images.vexels.com/media/users/3/137279/isolated/preview/e489b2b3639a9179cf9caa168ca24911-foursquare-icon-logo.png"
      height="40"
      class="ms-2 px-4"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <input type="text" pInputText placeholder="Search" class="me-4" />
  </ng-template>
</p-menubar>

<!-- external LOGIN dialog -->
<p-dialog
  header="Welcome Back!"
  [(visible)]="userService.displayLogin"
  [style]="{ width: 'auto' }"
>
  <div class="dialog-wrapper d-flex flex-column justify-content-center w-100">
    <!-- email -->
    <small>@</small>
    <span class="p-float-label mb-1 py-1">
      <input
        type="email"
        id="inputtext"
        pInputText
        required
        [(ngModel)]="loginData.email"
      />
      <label for="inputtext" class="ps-1">Email</label>
    </span>

    <!-- password -->
    <small>*</small>
    <span class="p-float-label mb-1 py-1">
      <p-password
        class="w-100"
        inputId="password"
        [(ngModel)]="loginData.password"
      ></p-password>
      <label for="password">Password</label>
    </span>
    <!-- log BTN-->
    <br />
    <button
      pButton
      pRipple
      type="button"
      label="LOGIN"
      class="p-button-raised"
      (click)="onLogin()"
    ></button>
  </div>
  <ng-template pTemplate="footer">
    <div class="ft-form">
      <small>
        Don't have an account?
        <button class="switch-btn" (click)="showSignup()">Sign Up</button>
      </small>
    </div>
  </ng-template>
</p-dialog>

<!-- Create Account Dialog -->
<p-dialog
  header="Create Account"
  [(visible)]="displayCreateAccount"
  [style]="{ width: 'auto' }"
>
  <div class="dialog-wrapper d-flex flex-column justify-content-center w-100">
    <!-- username -->
    <i class="pi pi-user me-5 mt-3"></i>
    <span class="p-float-label mb-1 py-1">
      <input
        id="float-input"
        type="text"
        pInputText
        [(ngModel)]="newAccountData.username"
      />
      <label for="float-input" class="ps-1">Username</label>
    </span>
    <!-- email -->
    <small>@</small>
    <span class="p-float-label mb-1 py-1">
      <input
        type="email"
        id="inputtext"
        pInputText
        required
        [(ngModel)]="newAccountData.email"
      />
      <label for="inputtext" class="ps-1">Email</label>
    </span>

    <!-- password -->
    <small>*</small>
    <span class="p-float-label mb-1 py-1">
      <p-password
        class="w-100"
        inputId="password"
        [(ngModel)]="newAccountData.password"
      ></p-password>
      <label for="password">Password</label>
    </span>
    <!-- signup BTN-->
    <br />
    <button
      pButton
      pRipple
      type="button"
      label="Create Account"
      class="p-button-raised"
      (click)="onSingup()"
    ></button>
  </div>
  <ng-template pTemplate="footer">
    <div class="ft-form">
      <small>
        Already have an account?
        <button class="switch-btn" (click)="showLogin()">Login</button>
      </small>
    </div>
  </ng-template>
</p-dialog>

<!--**** TOAST MSGs ****-->
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-toast
  position="bottom-center"
  key="c"
  (onClose)="onReject()"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="grid p-fluid">
        <div class="col-6">
          <button
            type="button"
            pButton
            (click)="onConfirm()"
            label="Yes"
            class="p-button-success"
          ></button>
        </div>
        <div class="col-6">
          <button
            type="button"
            pButton
            (click)="onReject()"
            label="No"
            class="p-button-secondary"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
