<!-- NAVIGATION BAR for Logged In-->
<p-menubar [model]="navMenuItems">
  <ng-template pTemplate="start">
    <img
      src="https://images.vexels.com/media/users/3/137279/isolated/preview/e489b2b3639a9179cf9caa168ca24911-foursquare-icon-logo.png"
      height="40"
      class="ms-2 px-4 main-logo"
      (click)="onHomeBtnClick()"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <input type="text" pInputText placeholder="Search" class="me-4" />
  </ng-template>
</p-menubar>

<!-- external LOGIN dialog -->
<app-login></app-login>

<!-- external COMMUNITY dialog -->
<app-community></app-community>

<!--**** TOAST MSGs ****-->
<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-toast
  position="bottom-center"
  key="c"
  (onClose)="onReject()"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="grid p-fluid">
        <div class="col-6">
          <button
            type="button"
            pButton
            (click)="onConfirm()"
            label="Yes"
            class="p-button-success"
          ></button>
        </div>
        <div class="col-6">
          <button
            type="button"
            pButton
            (click)="onReject()"
            label="No"
            class="p-button-secondary"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
